
// Variables
$fontFamily: 'Open Sans', sans-serif;
$titleFontFamily: 'Playfair Display', serif;
$baseFontSize: 14px;
$bodyBGColor: #f7f7fa;
$baseFontColor: #435a6b;

$linkColor: #b69d74;
$linkColorHover: #967a4c;

// Header
$headerBGColor: #000;
$headerTextColor: #fff;

// Menu Color
$menuTextColor: $linkColor;
$menuTextActiveColor: $linkColor;
$mobileMenuBg: #000;
$desktopMenuTextColor: #fff;
$desktopMenuDropDownBg: $linkColor;
$borderColor: #e8e8e8;

// Mixin
@mixin globalButton(){
	font-size: 1rem;
	background: $linkColor;
	cursor: pointer;
	color: #fff;
	padding: 14px 30px;
	line-height: 100%;
	margin-right: 2px;
	display: inline-block;
	border: 1px solid #fff;
	@include border-radius(0px);
	@include transition(all 0.3s);
	@include box-shadow(2px 2px 0px $linkColorHover);
}

@mixin globalButtonHover(){
	color: #fff;
    background: $linkColorHover;
	border: 1px solid #fff;
	box-shadow: 4px 4px 0px $linkColor;;
}